################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Pi.PlataformaWeb.Enchente/.vs/Pi.PlataformaWeb.Enchente/DesignTimeBuild/.dtbcache.v2
