<environment include="Development">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

</environment>


<environment exclude="Development">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.4.1.min.js" asp-fallback-src="~/bundler/js/jquery.min.js" asp-fallback-test="window.jQuery" crossorigin="anonymous"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.4.1/bootstrap.min.js" asp-fallback-src="~/bundler/js/bootstrap.min.js" asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal" crossorigin="anonymous"></script>
</environment>
@*<script src="~/sw.js"></script>*@
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
@*<script src="~/js/service-worker.js"></script>*@
@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
@*<script src="~/sw1.js"></script>*@
<script>
    if ('serviceWorker' in navigator) {
        window.addEventListener('load', () =>
            navigator.serviceWorker.register('/sw.js', {
                scope: '/',
            }));
    }

    var retorno = ('serviceWorker' in navigator) ? "Sim" : "Não";
    document.getElementById('SupportServiceWork').innerHTML = retorno;


    $(document).ready(function () {
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": true,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    });
    function MostraConfirm(title, texto) {
        if (title.toLowerCase() == "erro") {
            toastr["error"](texto, title);

        }
        else {
            toastr["success"](texto, title);
        }
    }


</script>
<!--[if IE 8]>
    <h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>
<![endif]-->
