@model IEnumerable<DadoVolumetrico>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> <a href="https://github.com/Projeto-Integrador-Univesp/PlataformaWeb">https://github.com/Projeto-Integrador-Univesp/PlataformaWeb</a>.</p>
</div>
<div class="row">
    <h3>Dados Volumétricos</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Dados</th>
                <th>Data</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Valor</td>
                    <td>@item.DataCadastro</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div style="text-align: center">
    <a href="/Home/Stats">
        <img src="~/img/chart.png" width="300" class="img-fluid" title="Ver gráficos"/><br /> Ver gráficos
    </a>
</div>