@{
    ViewData["Title"] = "Quem Somos";
}
<h1>@ViewData["Title"]</h1>

<h3>Grupo de estudantes Univesp - Engenharia da computação</h3>

<pre>
    ARAMIS G. P.            - RA: 1716270
    CRISTIANO S. C. DE O.   – RA: 1706364
    DENISE Y. C.            - RA: 1702534
    FERNANDO Z. DE O. B. F. - RA: 1709980
    HENRIQUE P. C.          - RA: 1714211
    LEONARDO S. D.          - RA: 1705323
    WANDERSON J. R.         - RA: 1714060
</pre>
